<div class="d-flex justify-content-center">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="example-card">
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
            <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="Email/Pseudo" formControlName="username"
                    [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">Please enter
                        your email</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Password" formControlName="password"
                    [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter
                        your password</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row justify-content-center">
                <button type="submit" [disabled]="!loginForm.valid" mat-flat-button color="primary">Login</button>
            </div>
        </form>
    </mat-card>
</div>