<div class="myContainer">
    <div class="col-12">
        <h2 class="text-center">Cher visiteur</h2>
        <h5 class="text-center"> pour le bon déroulement de votre visite , Veuillez respécter nos <span class="myregle"> régles</span></h5>
    </div>
    <div class="justify-content-md-center">
        <ngb-carousel *ngIf="imageToShow" style=" margin: auto; width: 65%; ">
            <ng-template ngbSlide *ngFor="let image of imageToShow ; let i = index">
                <div class="carousel-item active" *ngIf="image.show === true">
                    <img class="d-block w-100 img-carousel "  [src]="createImagePath(image.image)" alt="Random first slide">
        
                    <div class="carousel-caption">
                        <h3>{{image.nom}}</h3>
                        <p>{{image.description}}</p>
                        <div class="mt-2 d-flex justify-content-center " *ngIf="i === imageLength-1">
                             <button class="btn btn-success " [routerLink]="['/poste']">Confirmer</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
 
</div>