.myregle{
    color: red;
    font-size: 3vw;

}
.img-carousel {
    height:450px;
}

/*.carousel-control-next{
    background-color: black;
 }*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .img-carousel {
        height:250px;
    }
  }

