<!-- Footer -->
<!-- <footer class="mt-3 page-footer font-small special-color-dark pt-4"> -->
<footer id="footer" class="w-100 mt-2">
    <!-- <div class="footer-copyright text-center py-3">© 2019 Copyright: -->
    <div class="container">
        <span class="form-row justify-content-center pt-3">
            © 2019 Copyright:&nbsp;
            <a [routerLink]="['/login']">ourVisitor</a>
            &nbsp;. All rights reserved. Created By &nbsp;<strong>ADHAM ENGINEERING</strong>
        </span>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->