.example-container {
  width: 100%;
  overflow: auto;
}
table {
  width: 100%;
}
.mat-cell,
.mat-header-cell {
  text-align: center;
  border-right: 0.5px solid #e0e0e0;
}

table th {
  background-color: #b0e0e6;
  border-color: cadetblue;
}
.mat-form-field {
  padding: 0;
} /*  */
.formPoste {
  margin-top: 2%;
  background: #b0e0e6;
}
.btn {
  background-color: orange;
}
textarea {
  &::placeholder {    
    // background-color: red;
    text-align: center !important;
  }
}

// @media only screen and (min-width: 603px) {
//     span {
//         background-color: red;
//     }
// }
