div.container-fluid {
  margin-top: 2%;
}

.inputfile {
  width: 1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: rgb(54, 94, 202);
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(236, 111, 111);
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

/*.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width {
  &:nth-last-child {
    margin-bottom: 10px;
  }
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}

div {
  &.d-flex {
    margin-top: 12%;
  }
}
*/

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

mat-card.example-container {
  margin-top: 3%;
}