
<app-list-regle></app-list-regle>
  
<div class="row justify-content-center">
  <div class="col-8">
    <form [formGroup]="regleForm"  (ngSubmit)="onFormSubmit(regleForm)" >
      <mat-card class="example-container">

        <mat-form-field>
          <input type="number" matInput placeholder="Veuillez saisir le nombre d'ordre" formControlName="numOrdre" name="numOrdre">
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Veuillez saisir le nom" formControlName="nom" name="nom">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Laissez une description" formControlName="description" name="description"></textarea>
        </mat-form-field>

        <div>
          <input type="file" id="file" name="file" class="inputfile" #file (change)="upload($event);"/>
          <label for="file"> <i class="fas fa-upload"></i> Choose a file</label>
        </div>
        <!-- <app-upload onUploadFinished="uploadFinished($event);"></app-upload> -->

        <mat-checkbox class="example-margin" formControlName="show" name="show">Afficher la règle</mat-checkbox>

        <button mat-raised-button>Ajouter</button>
      </mat-card>
    </form>
  </div>

</div>