<div class="container mt-2">
    <h2>Listes des règles</h2>
    <ngb-carousel *ngIf="imageToShow">
        <ng-template ngbSlide *ngFor="let image of imageToShow">
            <div class="carousel-item active" *ngIf="image.show === true">
                <img class="d-block w-100" [src]="createImagePath(image.image)" alt="Random first slide">

                <div class="carousel-caption">
                    <h3>{{image.nom}}</h3>
                    <p>{{image.description}}</p>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>